<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Музыкальный Плеер</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='player.css') }}">
</head>
<body>
    <div class="player-container">
        <h2>Музыкальный плеер</h2>
        <button id="uploadBtn">Загрузить музыку</button>
        <ul class="track-list" id="trackList">
            {% for track in tracks %}
            <li data-src="{{ track.file_path }}" style="white-space: nowrap;">
                <div class="track-edit-container">
                    <img src="{{ track.cover_path }}" class="track-cover" alt="Обложка">
                    <div class="track-info">
                        <span class="track-title">{{ track.track_title or 'Неизвестный трек' }}</span>
                        <span class="track-author">{{ track.track_author or 'Неизвестный исполнитель' }}</span>
                    </div>
                </div>
                <div style="display: flex;">
                    <button class="edit-button" data-track-id="{{ track.id }}"><i class="fa fa-pencil"></i></button>
                    <button class="delete-button" data-track-id="{{ track.id }}"><i class="fa fa-trash"></i></button>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="player-controls">
            <button id="prev"><i class="fa fa-step-backward"></i></button>
            <button id="playPause"><i class="fa fa-play"></i></button>
            <button id="next"><i class="fa fa-step-forward"></i></button>
        </div>
        <div class="progress-container" id="progressContainer">
            <div class="progress-bar" id="progressBar"></div>
        </div>
        <div class="volume-container">
            <svg class="volume-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9v6h4l5 5V4l-5 5H3z"></path></svg>
            <div class="volume-slider" id="volumeSlider">
                <div class="volume-bar" id="volumeBar"></div>
            </div>
        </div>

    </div>

    <div id="uploadModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>Загрузка музыки</h2>
            <form action="{{ url_for('dashboard') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file" accept=".mp3,.wav,.flac" required>
                <button type="submit">Загрузить</button>
            </form>
        </div>
    </div>

    <div id="editTrackModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" id="closeEditModal">&times;</span>
            <h2>Редактирование трека</h2>
            <form id="editTrackForm" method="POST" enctype="multipart/form-data" action="/edit_track/trackId">
                <input type="hidden" name="trackId" id="trackId">
                <label for="trackTitle">Название трека</label>
                <input type="text" name="trackTitle" id="trackTitle" autocomplete="off">

                <label for="trackAuthor">Автор трека</label>
                <input type="text" name="trackAuthor" id="trackAuthor" autocomplete="off">

                <label for="trackCover">Обложка трека</label>
                <input type="file" name="trackCover" id="trackCover" accept="image/*">

                <button type="submit">Сохранить изменения</button>
            </form>
        </div>
    </div>

    <div id="deleteTrackModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" id="closeDeleteModal">&times;</span>
            <h2>Вы уверенны, что хотите удалить трек?</h2>
            <div>
                <a href="/api/delete/trackId"><button><i class="fa fa-check"></i></button></a>
                <button id="closeDeleteModalBtn" style="background: #8b0000;"><i class="fa fa-xmark"></i></button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='player.js') }}"></script>

    {% if code %}
        <div class="notification" id="notification">
            <span id="notificationMessage"></span>
        </div>
        <script>
            const statusCodeFromFlask = {{ code }};
            showNotification(statusCodeFromFlask);
        </script>
    {% endif %}

    <audio id="audio"></audio>
</body>
</html>
